@*If we specify layout directive at component level, then it will apply layout.*@
@*@layout CustomerLayout*@

@page "/customerview"

<h3>CustomerComponent</h3>

<a class="btn btn-danger" href="/">Redirect to Main Index Page</a>

@code {

}
